.not-found-container {
  height: 100vh;
  width: 100vw;
  background-color: #fafafa;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.not-found-image {
  width: 269px;
  height: 297px;
}
@media screen and (max-width:767px){
  .not-found-image{
    width: 157px;
    height: 173px;
  }
}
.not-found-heading {
  font-size: 32px;
  font-weight: 500;
  color: #262626;
}
@media screen and (max-width:767px){
  .not-found-heading {
  font-size: 20px;
}
}
.not-found-description {
  font-size: 20px;
  font-weight: 400;
  color: #989898;
  text-align: center;
}
@media screen and (max-width:767px){
  .not-found-description{
    font-size: 16px;
  }
}
.not-found-btn {
  background-color: #4094ef;
  height: 48px;
  width: 141px;
  border-radius: 12px;
  color: #ffffff;
  border: none;
  cursor: pointer;
  outline: none;
  font-size: 14px;
  font-weight: 500;
}
@media screen and (max-width:767px){
  .not-found-btn {
    height: 32px;
    width: 114px;
    font-size: 12px;
  }
}